.leasing-form {
  &__title {
    font-family: 'Nekst', Verdana, sans-serif;
    color: #111111;
    font-size: 34px;
    line-height: 92%;
    font-weight: 900;
    margin: 0 0 32px 0;
    max-width: 400px;

    @media screen and (min-width: 768px) {
      font-size: 54px;
      margin: 0 0 44px 0;
      max-width: 684px;
    }

    @media screen and (min-width: 1120px) {
      max-width: 900px;
      margin: 0 0 32px 0;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 25px;

    @media screen and (min-width: 768px) {
      gap: 39px;
    }

    @media screen and (min-width: 1120px) {
      flex-direction: row;
      flex-wrap: wrap;
      column-gap: 32px;
      row-gap: 47px;
    }
  }

  &__container {
    flex-grow: 1;

    @media screen and (min-width: 1120px) {
      width: 320px;
    }
  }

  &__input-label {
    display: block;
    margin: 0 0 8px 0;
    font-family: 'Gilroy', Verdana, sans-serif;
    color: #333e48;
    font-size: 14px;
    line-height: 136%;
    font-weight: 400;

    @media screen and (min-width: 768px) {
      font-size: 16px;
      line-height: 20px;
      margin: 0 0 24px 0;
    }
  }

  &__input-wrapper {
    box-sizing: border-box;
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
    background-color: #f3f3f4;
    border-radius: 16px;

    @media screen and (min-width: 768px) {
      height: 68px;
    }

    @media screen and (min-width: 1120px) {
      padding: 30px;
    }

    &_type_percentage {
      padding-right: 6px;

      @media screen and (min-width: 768px) {
        padding-right: 7px;
      }
    }
  }

  &__input-number {
    height: 20px;
    width: 200px;
    padding: 0;
    margin: 0;
    font-family: 'Nekst', Verdana, sans-serif;
    color: #333e48;
    font-size: 22px;
    line-height: 20px;
    font-weight: 900;
    border: none;
    background: none;
    appearance: none;

    @media screen and (min-width: 768px) {
      font-size: 30px;
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }

    &:focus,
    &:hover {
      outline: none;
      -moz-appearance: textfield;
    }
  }

  &__number {
    height: 20px;
    width: 200px;
    padding: 0;
    margin: 0;
    font-family: 'Nekst', Verdana, sans-serif;
    color: #333e48;
    font-size: 22px;
    line-height: 20px;
    font-weight: 900;
    border: none;
    background: none;
    appearance: none;

    @media screen and (min-width: 768px) {
      height: 57px;
      min-width: 300px;
      font-size: 54px;
      line-height: 90%;
    }
  }

  &__input-down-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 67px;
    background-color: rgba(224, 224, 224, 0.4);
    border-radius: 12px;
  }

  &__input-down {
    height: 22px;
    width: 30px;
    padding: 0;
    font-family: 'Nekst', Verdana, sans-serif;
    color: #333e48;
    font-size: 22px;
    line-height: 20px;
    font-weight: 900;
    border: none;
    background: none;
    appearance: none;

    @media screen and (min-width: 768px) {
      font-size: 20px;
      line-height: 24px;
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }

    &:focus,
    &:hover {
      outline: none;
      -moz-appearance: textfield;
    }
  }

  &__input-range {
    position: absolute;
    bottom: 0;
    left: 24px;
    height: 2px;
    width: calc(100% - 48px);
    appearance: none;

    &::-webkit-slider-thumb {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      -webkit-appearance: none;
      cursor: ew-resize;
      background: #ff9514;
    }

    &::-moz-range-thumb {
      border: none;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      cursor: ew-resize;
      background: #ff9514;
    }
  }

  &__input-number-unit {
    font-family: 'Nekst', Verdana, sans-serif;
    color: #333e48;
    font-size: 22px;
    line-height: 20px;
    font-weight: 900;

    @media screen and (min-width: 768px) {
      font-size: 30px;
      line-height: 36px;
    }
  }

  &__input-percentage {
    font-family: 'Nekst', Verdana, sans-serif;
    color: #333e48;
    font-size: 22px;
    line-height: 20px;
    font-weight: 900;

    @media screen and (min-width: 768px) {
      font-size: 20px;
      line-height: 24px;
    }
  }

  &__submit-btn-wrapper {
    flex-grow: 1;
  }

  &__submit-btn {
    appearance: none;
    border: none;
    font-family: 'Nekst', Verdana, sans-serif;
    color: #ffffff;
    background-color: #ff9514;
    border-radius: 40px;
    font-size: 22px;
    line-height: 20px;
    font-weight: 900;
    height: 60px;
    width: 280px;
    cursor: pointer;
    transition: background-color 0.1s linear;
    margin: 7px 0 0 0;

    @media screen and (min-width: 768px) {
      font-size: 30px;
      line-height: 36px;
      height: 68px;
      width: 334px;
      margin: 0;
    }

    @media screen and (min-width: 1120px) {
      width: 100%;
      min-width: 300px;
    }

    &:hover:enabled {
      background-color: #111111;
    }

    &:active:enabled {
      background-color: #575757;
    }

    &:disabled {
      opacity: 0.4;
      cursor: auto;
    }
  }

  &__text-label {
    margin: 0 0 3px 0;
    font-family: 'Gilroy', Verdana, sans-serif;
    color: #333e48;
    font-size: 14px;
    line-height: 136%;
    font-weight: 400;

    @media screen and (min-width: 768px) {
      font-size: 16px;
      line-height: 24px;
      margin: 0 0 11px 0;
    }

    @media screen and (min-width: 1120px) {
      margin: 0 0 10px 0;
    }
  }

  &__total-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
    gap: 25px;

    @media screen and (min-width: 768px) {
      row-gap: 32px;
      column-gap: 58px;
      padding-top: 4px;
    }

    @media screen and (min-width: 1120px) {
      column-gap: 32px;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__text-wrapper {
    @media screen and (min-width: 1120px) {
      flex-grow: 1;
    }
  }
}

.leasing-form__input-wrapper:has(.leasing-form__input-number:focus) {
  background-color: #ffffff;
  outline: 2px solid #f3f3f4;
}
